body {
    padding-top:0px;
    background-color: white;


}
/*HEADER STYLES*/
#logoImg{
    
    width:185px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pageArt{
    width:1030px;
    display: block;
    margin:auto;
    
}